<%= form_with(model: restricted_website) do |form| %>
  <% if restricted_website.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(restricted_website.errors.count, "error") %> prohibited this restricted_website from being saved:</h2>

      <ul>
        <% restricted_website.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :websiteurl, style: "display: block" %>
    <%= form.text_field :websiteurl %>
  </div>

  <div>
    <%= form.label :limitedtime, style: "display: block" %>
    <%= form.datetime_field :limitedtime %>
  </div>

  <div>
    <%= form.label :isblocked, style: "display: block" %>
    <%= form.check_box :isblocked %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
